@font-face { font-family: 'glam'; src: url('/fonts/GlametrixBold.otf'); }

body {
  margin: 0;
}

a {
  color: rgba(42, 122, 226, 0.9);
}

.page {
  margin: 0 auto;
  font-family: Georgia, serif;
  font-size: 14px;
  width: 800px;
}
.top .name, h2, h4 {
  font-family: glam, sans-serif;
  line-height: 0.75;
}
@media print {
  .page { 
    font-size: 12px; 
    //width: 100%;
  }
  .part {
    margin: 0!important;
  }
}



/* .top respresents the personal information section */

.top {
  margin-bottom: 1em;
  page-break-before: always;
}
.top .info:after {
  content: '';
  display: block;
  clear: both;
  border-bottom: 3px solid rgba(42, 122, 226,0.7);
  padding-bottom: 0.25em;
}

.top .name {
  font-size: 4em;
}
.top > div {
  min-width: 300px;
  margin-bottom: 0.4em;
}

.top .left {
  width: 60%;
  float: left;
  text-align: left;
}
.top .right {
  float: right;
  text-align: right;
  //font-size: 0.9em;
  line-height: 1.2em;
}
.top .description.addl {
  display: none;
}

@media screen {
  .top.addl {
    display: none;
  }
}

/* The body (.main) is divided into one or more .part[s] */

.part {
  padding-left: 0;
  margin: 1em;
  line-height: 1.25;
}

.part > .title {
  font-weight: 600;
  font-size: 1.5em;
  margin: 5px 0 0;
  padding: 3px 0;
  text-transform: capitalize;
  font-variant: small-caps;
  background: #aaaaaa;  
  width: 100%;
  text-align:center;
  min-width: 200px;
}

/* Each .part has one or more .section[s] */

.section {
  margin: 0 0 0.75em;
  //page-break-inside:avoid;
}
h2 {
  font-weight: 600;
  font-size: 2.25em;
  margin: 0;
  margin-bottom: 0.175em;
  text-transform: capitalize;
  font-variant: small-caps;
  border-bottom: 2px solid rgba(42, 122, 226,0.7);
  width: 100%;
}
h4 {
  font-weight: 600;
  font-size: 2em;
  margin: 0;
  padding-bottom: 0.175em;
  //padding-left: 0.5em;
  text-transform: capitalize;
  font-variant: small-caps;
  // background: #aaaaaa;
  // border-bottom: 1px solid #aaaaaa;
  width: 50%;
  //text-align:center;
  min-width: 200px;
}
.section .body .title:first-of-type {
  padding-top: 0;
}
.body > .body {
  border-left: 1px solid #aaaaaa;
  margin-left: 0.75em;
}
.section .element {
  //padding-bottom: 0.5em;
  padding-left: 0.5em;
}
.section .element:last-of-type {
  padding-bottom:0;
}
.section .element::first-line {
  margin-left: -10px;
  font-family: glam, sans-serif;
  font-size: 1em;
}
.section .start {
  font-size: 1.5em;
  line-height: 1;
}

.section .details {
  //border-left: 2px solid #aaaaaa;
  padding-left:8px;
  margin: 0.3em 0.5em;
}

.sub {
  //border-left: 1px solid #aaaaaa;
  font-size: 0.9em;
  margin-left: 1em;
}
.sub h4 {
  font-size: 1.75em;
  text-transform: capitalize;
  font-variant: normal;
}
.listhead {
  font-weight: 600;
}
ul.short {
  display: inline;
  padding-left: 0;
}
ul.short li {
  display: inline;
  list-style-type: none;
}
ul.short li:after {
  display: inline;
  content: '; '
}
ul.short li:last-child:after {
  display: inline;
  content: '';
}
ul.long {
  margin: 0;
  padding-left: 0.25em;
  //color: #aaaaaa;
  list-style: url('/chevron-right.svg'); 
  text-indent: 0;
}
ul.long li::first-letter {
  text-transform: capitalize;
}

.section.references .body {
  display: table-row;
}
.section.references .element {
  display: table-cell;
  width: 33%;
}
